@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

}

::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
}

@theme {
  --color-base: #0B0B0F;
  --color-cards: #1a0f12;
  --color-chars: #EAEAEA;
  --color-accent: #B73E3E;
  --color-muted: #9a9a9a;
  --font-headers: 'Geist Mono', monospace;
  --font-poem: 'Cormorant Garamond', serif;
  --color-poemcard: #4a3a28;


}
